*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.grid-container {
   width: 100%;
   max-width: 1200px;
   margin-right: auto;
   margin-left: auto;
   padding-left: .5em;
   padding-right: .5em
}
.grid-container:after,.grid-container:before {
content: " ";
display: table
}

.grid-container:after {
clear: both
}

.grid-row {
margin-left: -.5em;
margin-right: -.5em
}

.grid-row:after,.grid-row:before {
content: " ";
display: table
}

.grid-row:after {
clear: both
}

.grid-col {
position: relative;
min-height: 1px;
padding-left: .5em;
padding-right: .5em;
float: left;
}

.grid-col-12 {
   width: 100%;
}

.grid-col-9 {
   width: 66.66%;
}

.grid-col-3 {
   width: 33.33%;
}