<!DOCTYPE html>
<!--
   SLIDE#1 - Starting an AngularJS app

   a) To convert an HTML page to an Angular app:
      1) add angular.js library in the page
      2) specify 'ng-app' directive to one of the elements (html, body, ...)

   b) The 'ng-app' directive to auto-bootstrap an AngularJS application
   c) The 'ng-app' directive designates the root element of the application
   d) You can specify an AngularJS module to be used as the root module for the application. 
      -> This module will be loaded into the $injector when the application is bootstrapped. 
      -> It should contain the application code needed or have dependencies on other modules that will contain the code

   APPLICATION IS CONSTRUCTED AUTOMATICALLY USING *DEPENDENCY INJECTION*

-->
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/grid.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/shopping-bag.css">

      <script src="javascripts/libs/angular/angular.min.js"></script>
      <script src="javascripts/libs/angular/angular-resource.min.js"></script>
      <!-- 
      <script src="javascripts/libs/angular/angular-resource.min.js.map"></script>
       -->
      
      
      <script src="javascripts/modules/services/shopping-bag-service.js"></script>
      <script src="javascripts/modules/services/shopping-bag-service-using-resource.js"></script>
      <script src="javascripts/modules/shopping-bag-directive.js"></script>
      
      <script src="javascripts/shopping-bag.js"></script>
      
      
      
      <script src="javascripts/controllers/friend-controller.js"></script>
      <script src="javascripts/modules/directives/contact-card.js"></script>
      <script src="javascripts/modules/directives/compile-btn.js"></script>
      <script src="javascripts/modules/directives/phone-ampersand.js"></script>
      
      
      <script src="javascripts/controllers/form-controller.js"></script>
      <script src="javascripts/modules/directives/zip-code-validator.js"></script>
      
   </head>
   <body ng-app="gid.shoppingBag">
   
  		<form name="myForm" ng-controller="FormCtrl"> 
   
			<input type="text" name="zip" id="zip" ng-model="zip" size="15" zip-code-validator>
			
			<div ng-if="myForm.zip.$error.zip">You didn't enter a valid zip</div>
		
		</form>	
		
   </body>
</html>