<div class="ag-grid-flex-content w-100 h-100">
  <ag-simple-grid></ag-simple-grid>
</div>

<!--<div class="flex-container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>-->
  <!--
  <div class="flex-item" fxFlex="50%" fxFlexFill>
    <div fxLayout="column" fxFlexFill>
      <div class="flex-item" fxFlex="60px">
        <button (click)="selectRow()">Select a row</button>
      </div>
      <div class="flex-item" fxFlex fxFlexFill>
        grid

      </div>
    </div>
  </div>
-->
  <!--<div class="flex-item" fxFlex="98%" fxFlexFill>-->
    <!--<ag-simple-grid></ag-simple-grid>-->
    <!--<div class="ag-grid-flex-content w-100 h-100">
      
    </div>-->
<!--  </div>
</div>-->
<!--<div class="container-fluid h-100">
  <div class="row h-100 ag-grid-flex-content">
    <div class="col-12">
      <ag-simple-grid></ag-simple-grid>
    </div>
  </div>
</div>
-->