<div class="flex-container" fxLayout="column">
  <div class="flex-item" fxFlex="20px" fxFlexFill *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="flex-item" fxFlex="60px">
    <technology-carousel [technologies]="technologies$ | async" [options]="carouselOptions"></technology-carousel>
  </div>

  <div class="flex-item" fxFlex="40px">
    <bootstrap-tab-nav></bootstrap-tab-nav>
  </div>

  <div class="flex-item ag-grid-flex-container" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>